html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #0e1118, #232b3e) no-repeat center center / cover;
    background-attachment: fixed;
}

.mask {
    position: relative;
    overflow: hidden;
}

#hero .title {
    font-size: clamp(1rem, 6vw, 8rem);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero .title .title-text {
    position: relative;
    z-index: 1;
    color: #fff;
    /* text-transform: uppercase; */
    text-align: center;
    letter-spacing: -1px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    font-weight: 800;
    /* gradient back */
    background: linear-gradient(to bottom right, #34d399, #0ea5e9) no-repeat center center / 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

#hero .subtitle {
    font-size: clamp(.5rem, 2.4vw, 2rem);
    position: relative;
    z-index: 1;
    margin: 0;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 700;
    /* drop shadow bottom right 25px */
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    margin: 0;
}

#hero .subtitle .subtitle-text {
    margin: 0;
}

/* https://codepen.io/ananyaneogi/pen/Bgozrz */

.hand-underline {
    display: inline-block;
    color: white;
    min-width: 10ch;
    text-decoration: none;
    padding: 20px 0;
    position: relative;
    text-align: center;
    margin-left: -.4ch;
    margin-right: -.8ch;
}

.hand-underline.aos-animate .hand-underline-stroke:nth-child(2) {
    stroke-dashoffset: 0;
}

.hand-underline-stroke {
    display: block;
    width: calc(100% - 40px);
    height: 20px;
    stroke: transparent;
    position: absolute;
    left: 20px;
    bottom: 0px;
    stroke-width: 3;
}

.hand-underline-stroke:nth-child(2) {
    stroke-dasharray: 660px;
    stroke-dashoffset: 660px;
    stroke: #fff6a9;
    stroke-width: 4;
    transition: stroke-dashoffset 800ms ease-out 1s;
    filter: drop-shadow(0 0 0.5px #ffa500) drop-shadow(0 0 1.5px #ffa500) drop-shadow(0 0 2px #ffa500) drop-shadow(0 0 4px #ffa500) drop-shadow(0 0 3px #ff0000) drop-shadow(0 0 1px #ff8d00);
    /* z-index: -1; */
}

/* on desktop devices */
@media (min-width: 1100px) {
    #hero .title {
        font-size: clamp(2rem, min(6vw, 6.5vh), 8rem);
    }

    #hero .subtitle {
        font-size: clamp(1rem, 5vw, 2rem);
    }
}

.scroll {
    position: absolute;
    bottom: 4rem;
    left: calc(50% - 101px);
    width: 170px;
    padding: 1rem;
    color: #60a5fa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: opacity 0.5s ease-in-out 2.5s
}

.scroll > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: row;
    gap: 0.5rem;
    border-radius: 9999px;
    padding: 0.5rem;
}

.scroll > div > svg {
    padding: 0.25rem;
}

.scroll:not(.loaded) {
    opacity: 0;
    pointer-events: none;
}